@font-face {
  font-family: 'Roboto-MediumItalic';
  src: url("../fonts/roboto/Roboto-MediumItalic.woff") format("woff"), url("../fonts/roboto/Roboto-MediumItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/roboto/Roboto-Medium.woff") format("woff"), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-LightItalic';
  src: url("../fonts/roboto/Roboto-LightItalic.woff") format("woff"), url("../fonts/roboto/Roboto-LightItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url("../fonts/roboto/Roboto-Thin.woff") format("woff"), url("../fonts/roboto/Roboto-Thin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/roboto/Roboto-Light.woff") format("woff"), url("../fonts/roboto/Roboto-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url("../fonts/roboto/Roboto-Italic.woff") format("woff"), url("../fonts/roboto/Roboto-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-BoldItalic';
  src: url("../fonts/roboto/Roboto-BoldItalic.woff") format("woff"), url("../fonts/roboto/Roboto-BoldItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

.card-club__contacts-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2.1rem;
  padding-bottom: 2.2rem;
  text-align: center;
}

.card-club__image {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-club__title {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  color: #fff;
  font-size: 36px;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
  font-family: Roboto-Light;
}

.card-club__contacts {
  color: #2e2e2e;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}

.card-club__contacts--footer {
  color: #fff;
}

.card-club__name {
  font-family: "Roboto-Medium";
  font-size: 18px;
  font-weight: 500;
}

.card-club__adress {
  font-family: "Roboto";
  font-family: "Roboto-Light";
  font-weight: 300;
}

.card-club__image-bottom {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.contacts {
  font-family: "Roboto-Light";
  text-align: right;
  line-height: 1.45rem;
}

.phone {
  font-size: 1.22rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: .08rem;
}

.container {
  width: 100%;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.col-30 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.col-40 {
  width: 40%;
}

.col-50 {
  width: 50%;
}

.col-60 {
  width: 60%;
}

/**, *:before, *:after
    box-sizing: border-box */
html {
  font-size: 14px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

a {
  color: unset;
  text-decoration: none;
}

a:active, a:focus {
  outline: none;
}

input, textarea {
  outline: none;
}

input:active, textarea:active {
  outline: none;
}

button:active, button:focus {
  outline: none;
}

.container {
  max-width: 1140px;
}

.button {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1rem 1.542rem;
  border: 1px solid #ffd11a;
  border-radius: 2rem;
  letter-spacing: -1px;
  background-color: #ffd11a;
  color: #1e1c34;
}

.button--secondary {
  background-color: unset;
  color: #ffd11a;
}

.section-title {
  position: relative;
  text-align: center;
  color: #2e2e2e;
  font-size: 28px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
}

.section-title__heading {
  font-family: 'Yeseva One', cursive;
  text-transform: uppercase;
  line-height: 138%;
  font-weight: 400;
  letter-spacing: -2px;
  font-size: 1.929rem;
}

.section-title::before {
  content: '';
  position: absolute;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  right: 50%;
  bottom: -1.6rem;
  width: 90px;
  height: 2px;
  background-color: #E3B873;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(1.59rem);
          transform: translateX(1.59rem);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 55rem;
  margin: auto;
}

.form__input {
  width: 17.15rem;
  font-size: 0.94rem;
  padding: 1rem 0rem;
  padding-left: 1.84rem;
  border-radius: 50px;
  border: none;
}

.top-header {
  background: #2e2e2e url("../img/first-page/top-header_bg.jpg") no-repeat center/cover;
  height: 95px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header__select {
  position: relative;
  margin-left: auto;
  -webkit-transform: translateX(2.6rem);
          transform: translateX(2.6rem);
}

.top-header__select a:hover {
  background-color: #ddd;
}

.top-header__record {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: -3.1rem;
}

.top-header__record span {
  padding-left: 1rem;
}

.top-header__contacts {
  margin-right: 1.4rem;
  margin-left: auto;
}

.top-header__contacts span {
  display: block;
  font-size: 0.9rem;
}

.top-header__ouvert {
  border-radius: 20px 20px 0px 0px;
  background-color: #ffd11a;
  z-index: 5;
}

.top-header__ouvert .button--secondary {
  color: #1e1c34;
}

.select__button {
  cursor: pointer;
  font-weight: 400;
  font-size: 0.87rem;
  letter-spacing: 0;
  padding-right: 2.3rem;
}

.select__dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffd11a;
  min-width: 160px;
  overflow: auto;
  z-index: 37;
  padding: 25px 0px 5px 30px;
  border-radius: 0 7px 7px 7px;
  width: 265px;
  border: none;
  top: 38px;
}

.select__dropdown-content a {
  position: relative;
  display: block;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  padding: 0 0 20px 0px;
  padding-bottom: 1.45rem;
  cursor: pointer;
  color: #1e1c34;
}

.select__dropdown-content a span {
  display: block;
}

.select__image {
  width: 1rem;
  margin: 0 0.6rem;
}

.select--toggle {
  display: block;
}

.menu {
  background: url("../img/menu_bg.png") no-repeat center/cover;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__nav a::after {
  content: '';
  position: absolute;
  background: url("../img/menu_border.png") no-repeat right center;
  height: 31px;
  width: 1px;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  margin-left: 2.2rem;
}

.choose__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choose__card-club:nth-child(1) {
  margin-right: 15px;
}

.choose__card-club:nth-child(2) {
  margin-left: 15px;
}

.choose__title {
  margin-top: 4.3rem;
  margin-bottom: 3.8rem;
}

.choose__card-club {
  margin-bottom: 4rem;
  border: 1px solid rgba(39, 25, 48, 0.14);
}

.service-record {
  background: #2e2e2e url("../img/first-page/record_bg.jpg") no-repeat center/cover;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 18.5rem;
}

.service-record__section-title {
  color: #fff;
  margin: -0.2rem auto 2.1rem auto;
}

.service-record__section-title::before {
  content: none;
}

.service-record__policy {
  -webkit-transform: translateX(62%);
          transform: translateX(62%);
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-record__policy .policy__checkbox {
  height: 1.3rem;
  width: 1.3rem;
}

.service-record__input-group {
  margin-left: 0.61rem;
}

.service-record__button {
  padding: 1rem 2.7rem;
  margin-left: 0.5rem;
}

.service-record__form {
  -webkit-transform: translateX(1.59rem);
          transform: translateX(1.59rem);
  padding-top: 5px;
}

.service-middle {
  position: relative;
}

.service-middle__section-title {
  margin-top: 4.4rem;
  margin-bottom: 3.8rem;
}

.service-middle__container {
  position: relative;
}

.service-gallery {
  position: relative;
}

.service-gallery__section-title {
  margin-top: 4rem;
  margin-bottom: 3.9rem;
}

.service-gallery__background {
  background: url("../img/first-page/service_bg.jpg") no-repeat center/cover;
  position: absolute;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  height: 19.857rem;
  width: 100%;
}

.club-cards__section-title {
  margin-top: 4.4rem;
  margin-bottom: 3.8rem;
}

.club-cards__button {
  width: 8.57rem;
  margin: 0px 2px;
  border: 1px solid rgba(39, 25, 48, 0.14);
}

.club-cards__booking {
  width: unset;
  margin-top: 3.7rem;
  -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
}

.club-cards__block img {
  padding-right: 1.4rem;
}

.club-cards__select {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.85rem;
}

.club-cards__checkbox-wrap {
  position: relative;
  padding-left: 2.3rem;
  padding-top: 0.5rem;
  text-align: left;
  letter-spacing: -0.6px;
}

.club-cards__checkbox-wrap .club-cards__checkbox:checked + label::before {
  left: -2.2rem;
  top: 1rem;
}

.club-cards__checkbox-wrap .club-cards__checkbox + label::before {
  left: -2.2rem;
  top: 1rem;
}

.club-cards__form {
  padding-left: 3.5rem;
}

.club-cards__input-wrap {
  width: 90%;
  margin-top: 0.6rem;
}

.club-cards__input-group {
  display: block;
  margin-top: 1rem;
}

.club-cards__input {
  border: 1px solid rgba(39, 25, 48, 0.14);
  border-radius: 50px;
  width: 100%;
}

.club-cards__policy-label {
  position: relative;
}

.club-cards__policy-label::before {
  left: 1.55rem;
  top: 1.1rem;
}

.club-cards__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.club-cards__checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.club-cards__checkbox + label::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  font-size: 19px;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
}

.club-cards__checkbox:checked + label::before {
  content: "\2228";
  content: "\2713";
  position: absolute;
  border: none;
  background-color: #ffd11a;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 21px;
  color: #1e1c34;
  text-align: center;
  line-height: 15px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-hero__sale {
  position: absolute;
  top: 14.5%;
  z-index: 10;
  color: white;
  -webkit-transform: translateX(-55.9%);
          transform: translateX(-55.9%);
  text-align: left;
}

.slider-hero__sale--psevdo {
  position: relative;
}

.slider-hero__sale--psevdo::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 2.5rem;
  width: 16.5rem;
  border-bottom: 2px solid #ffd11a;
}

.slider-hero__pagination {
  -webkit-transform: translateY(-3.2rem);
          transform: translateY(-3.2rem);
}

.slider-hero__layer {
  position: absolute;
  right: 2.4%;
  z-index: 15;
}

.slider-hero .swiper-slide {
  background-color: #501831;
}

.sale__border-block {
  position: relative;
  height: 12.3rem;
  width: 38rem;
  border-top: 2px solid #ffd11a;
}

.sale__border-block::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 1.2rem;
  border-left: 2px solid #ffd11a;
}

.sale__border-block::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 4.8rem;
  border-left: 2px solid #ffd11a;
}

.sale__border-block > div {
  margin-left: -1rem;
}

.sale__text {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-family: "Roboto-Light";
  font-weight: 300;
  padding-top: 2.5rem;
  margin-left: -0.9rem;
}

.sale__text span {
  display: block;
  margin-top: 0.5rem;
  font-family: "Roboto-Medium";
  font-size: 24px;
  font-weight: 500;
}

.sale__everyday {
  padding-top: 3.2rem;
  font-family: Roboto-Light;
  font-size: 48px;
  font-weight: 300;
  line-height: 18px;
  text-transform: uppercase;
}

.sale__club-cards {
  padding-top: 3rem;
  color: #ffd11a;
  font-family: Roboto-Light;
  font-size: 72px;
  line-height: 18px;
  text-transform: uppercase;
  width: 50rem;
}

.sale__pricetag {
  font-size: 48px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: -0.7rem;
  margin-left: -0.9rem;
}

.slider-hero__pagination .swiper-pagination-bullet {
  background: #fff;
  width: 22px;
  height: 4px;
  border-radius: 0%;
}

.slider-hero__pagination .swiper-pagination-bullet-active {
  background: #ffd11a;
}

.service-middle .swiper-container {
  width: 96.5%;
}

.service-middle .swiper-button-next, .service-middle .swiper-button-prev {
  margin-top: 0;
}

.slider-service__next, .slider-service__prev {
  width: 35px;
  height: 35px;
  background-color: #ffd11a;
  border-radius: 50%;
  color: #1e1c34;
  top: 9.6rem;
}

.slider-service__next::after, .slider-service__prev::after {
  font-size: calc(var(--swiper-navigation-size)/ 3) !important;
}

.slider-service__next {
  right: 0;
}

.slider-service__prev {
  left: 0;
}

.slider-service__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-service__title {
  letter-spacing: -0.7px;
  font-weight: 500;
  margin-top: 1.3rem;
  margin-bottom: 0.27rem;
}

.slider-service__describe {
  font-size: 1rem;
  line-height: 1.29rem;
  max-width: 94%;
}

.slider-gallery__next, .slider-gallery__prev {
  width: 35px;
  height: 35px;
  background-color: #ffd11a;
  border-radius: 50%;
  color: #1e1c34;
  top: 51%;
}

.slider-gallery__next::after, .slider-gallery__prev::after {
  font-size: calc(var(--swiper-navigation-size)/ 3) !important;
}

.slider-gallery__next {
  right: 10.2rem;
}

.slider-gallery__prev {
  left: 10.2rem;
}

.slider-gallery__pagination {
  -webkit-transform: translateY(-1.8rem);
          transform: translateY(-1.8rem);
}

.slider-gallery__pagination .swiper-pagination-bullet {
  background: #fff;
  width: 22px;
  height: 4px;
  border-radius: 0%;
}

.slider-gallery__pagination .swiper-pagination-bullet-active {
  background: #ffd11a;
}

.footer {
  position: relative;
  z-index: 1;
}

.footer__title {
  font-size: 1.12rem;
}

.footer__wrap {
  width: 100%;
  height: 25.85rem;
  background-color: #181728;
  color: #fff;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3.8rem;
  margin-top: 4.8rem;
  padding-bottom: 2.4rem;
}

.footer__menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu:nth-child(3) {
  -webkit-transform: translateX(-0.5rem);
          transform: translateX(-0.5rem);
}

.footer__checkbox {
  position: relative;
}

.footer__checkbox .footer__title {
  margin-left: -2.3rem;
}

.footer__connect {
  text-align: right;
}

.footer__record {
  font-size: 0.82rem;
}

.footer__call {
  margin-right: -0.3rem;
}

.footer__nav--item {
  display: block;
  margin: 0.57rem 0px;
}

.footer__contacts {
  padding-bottom: 1.1rem;
}

.footer__contacts span {
  display: block;
}

.footer .card-club__name, .footer .card-club__adress {
  font-size: 1rem;
  font-family: "Roboto";
}

.footer .card-club__adress {
  padding-bottom: 1.6rem;
  padding-top: 0.3rem;
}

.footer__form {
  padding-top: 0.5rem;
}

.footer__button--radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.footer__button--radio + label::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  font-size: 19px;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  left: -2.4rem;
}

.footer__button--radio:checked + label::before {
  content: "\2228";
  content: "\2713";
  position: absolute;
  border: none;
  background-color: #ffd11a;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 21px;
  color: #1e1c34;
  text-align: center;
  line-height: 15px;
}

.last-row {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8.57rem;
  border-top: 1px solid #5e5d69;
}

.last-row__social img {
  margin-left: 4px;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 199;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 24, 24, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal--visible {
  opacity: 1;
  visibility: visible;
}

.modal__dialog {
  position: relative;
  max-width: 36.36rem;
  max-height: 36.36rem;
  width: 506px;
  background: #fff url("../img/bg-lines.png") no-repeat center;
  background-position-y: inherit;
  padding: 2.357rem 3.5rem 1.928rem;
  color: #fff;
}

.modal__close {
  position: absolute;
  right: 0;
  top: 0;
  width: 28px;
  height: 28px;
  background: transparent url("../img/close.svg") no-repeat center;
  border: none;
  margin: 12px;
  cursor: pointer;
}

.modal__title {
  font-family: 'Yeseva One', cursive;
  font-size: 1.357rem;
  text-align: center;
  margin: 0;
  margin-bottom: 2.428rem;
  padding: 0px 50px;
  line-height: 2.3rem;
  font-weight: 100;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__form div:nth-child(4) .modal__policy div {
  bottom: 14px;
}

.modal__input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4.4rem;
  margin-top: -0.3rem;
}

.modal__input-group:last-of-type {
  margin-top: -3rem;
}

.modal__policy {
  margin: -1.1rem auto 2.7rem 1.1rem;
}

.modal__button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 1.428rem 4.428rem;
  margin-top: -5rem;
  margin-right: 2.142rem;
}

.modal div.invalid {
  bottom: -18px;
}

.thanks {
  visibility: hidden;
  position: fixed;
  z-index: 1999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 30rem;
  max-height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thanks__wrap {
  position: relative;
  max-width: 80vw;
  width: 500px;
  max-height: 60vh;
  height: 300px;
  background: url(../img/bg-lines.png) #a9ab26 no-repeat center;
  color: #441d17;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.7rem;
}

.thanks__close {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background: transparent url(../img/close1.png) center no-repeat;
  background-size: cover;
  border: none;
  margin: .9rem;
  margin-top: .7rem;
  margin-right: 1rem;
  cursor: pointer;
}

.thanks--visible {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 1600px) {
  .projects__row, .six-steps__row {
    max-width: unset;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1359px) {
  .projects__row, .six-steps__row {
    max-width: unset;
  }
}
/*# sourceMappingURL=style.css.map */