.card-club
    &__contacts-wrap
        display: flex    
        justify-content: space-around
    &__contacts
        color: $title
        font-size: 17px
        font-weight: 300
        line-height: 24px
    &__name
        font-family: "Roboto-Medium"
        font-size: 18px
        font-weight: 500
    &__adress
        font-family: "Roboto"
        font-family: "Roboto-Light"
        font-weight: 300