.card-club
    &__contacts-wrap
        display: flex    
        justify-content: space-around
        margin-top: 2.1rem
        text-align: center
    &__image
        position: relative
        justify-content: center
        display: flex
    &__title
        position: absolute
        transform: translateY(-50%)
        top: 50%
        color: $light
        font-size: 36px
        font-weight: 300
        line-height: 20px
        text-transform: uppercase
        font-family: Roboto-Light
    &__contacts
        color: $title
        font-size: 17px
        font-weight: 300
        line-height: 24px
    &__name
        font-family: "Roboto-Medium"
        font-size: 18px
        font-weight: 500
    &__adress
        font-family: "Roboto"
        font-family: "Roboto-Light"
        font-weight: 300
    &__image-bottom
        transform: translateY(4px)