/**, *:before, *:after
    box-sizing: border-box  
html
    font-size: 14px
body
    font-family: 'Roboto', sans-serif
    font-size: 1rem
img
    max-width: 100%
a 
    color: unset
    text-decoration: none
a:active, a:focus 
    outline: none
input, textarea 
    outline: none
input:active, textarea:active 
    outline: none
button:active, button:focus 
    outline: none
.container
    max-width: 1140px

.button
    font-size: 1rem
    font-weight: 500
    text-transform: uppercase
    padding: 1rem 1.542rem
    border: 1px solid $primary
    border-radius: 2rem
    letter-spacing: -1px
    background-color: $primary
    color: $primary-text
    &--secondary
        background-color: unset
        color: $primary
    


.section
    &-title
        position: relative
        text-align: center
        color: $title
        font-size: 28px
        font-weight: 400
        line-height: 23px
        text-transform: uppercase
        &__heading
            font-family: 'Yeseva One', cursive
            text-transform: uppercase
            line-height: 138%
            font-weight: 400
            letter-spacing: -2px
            font-size: 1.929rem
        &::before
            content: ''
            position: absolute
            transform: translateX(50%)
            right: 50%
            bottom: -1.6rem
            width: 90px
            height: 2px
            background-color: #E3B873