/**, *:before, *:after
    box-sizing: border-box  
html
    font-size: 14px
body
    font-family: 'Roboto', sans-serif
    font-size: 1rem
img
    max-width: 100%
a
    color: unset
    text-decoration: none

a:active, a:focus 
    outline: none
input, textarea 
    outline: none
input:active, textarea:active 
    outline: none
button:active, button:focus 
    outline: none
.container
    max-width: 1140px
.menu
    background: url('../img/menu_bg.png') no-repeat center / cover
    font-family: Roboto
    font-size: 1rem
    font-weight: 400
    text-transform: uppercase
    color: $light
    display: flex
    position: relative
    &__nav
        display: flex
        justify-content: space-between
    & a
        line-height: 4.6rem
    &__border
        border-left: 1px dotted rgba(255,255,255,.3)
        padding:  1.1rem 0rem
        margin: auto



.button
    font-size: 14px
    font-weight: 500
    text-transform: uppercase
    padding: 1rem 1.542rem
    border: 1px solid $primary
    border-radius: 2rem
    letter-spacing: -1px
    background-color: $primary
    color: $primary-text
    cursor: pointer
    &--secondary
        background-color: unset
        color: $primary   

.section
    &-title
        position: relative
        text-align: center
        color: $title
        font-size: 2rem
        font-weight: 400
        line-height: 1.643rem
        text-transform: uppercase
        &__heading
            font-family: 'Yeseva One', cursive
            text-transform: uppercase
            line-height: 138%
            font-weight: 400
            letter-spacing: -2px
            font-size: 1.929rem
        &::before
            content: ''
            position: absolute
            transform: translateX(50%)
            right: 50%
            bottom: -1.6rem
            width: 6.429rem
            height: 2px
            background-color: #E3B873
.form
    display: flex
    transform: translateX(1.59rem)
    flex-wrap: wrap
    max-width: 55rem
    margin: auto
    &__input
        width: 17.15rem
        font-size: 0.94rem
        padding: 1.06rem 0rem
        padding-left: 1.84rem
        border-radius: 50px
        border: none

.image_zoom
    overflow: hidden
.image_zoom img
    transition: all .5s ease-out
.image-zoom img:hover
    transform: scale(1.09)

.choose__choose-club a:hover + .image_zoom img
    transform: scale(1.09)

.choose__choose-club a:hover + .lazyload2
    transform: scale(1.09)
    
div.invalid
    position: absolute
    color: tomato
    margin-top: 5px
    left: 15px
    
.only_for_validator
    display: none