.choose
    &__wrap  
        display: flex
    &__choose-club:nth-child(1)   // отредактировать в Медиа после перестройки в 1 ряд!!!
        margin-right: 15px
    &__choose-club:nth-child(2)
        margin-left: 15px
    &__title
        margin-top: 4.3rem
        margin-bottom: 3.8rem
    &__choose-club
        margin-bottom: 4rem
        border: 1px solid $gray