.footer
    position: relative
    z-index: 1
    &__title
        font-size: 1.12rem
        color: $primary
    &__wrap
        width: 100%
        height: 25.35rem
        background-color: #181728
        color: $light
    &__row
        display: flex
        justify-content: space-between
        padding-top: 3.8rem
        margin-top: 4.88rem    
        padding-bottom: 2.4rem
        &--shelkovo
            margin-top: 0
    &__menu-wrap
        display: flex
    &__menu:nth-child(3)
        transform: translateX(-0.5rem)
    &__checkbox
        position: relative
        & .footer__title
            margin-left: -2.3rem
    &__connect
        text-align: right
    &__record
        font-size: 0.82rem
    &__call
        margin-right: -0.3rem
    &__nav
        &--item
            display: block
            margin: 0.57rem 0px
    &__contacts
        padding-bottom: 0.9rem
        padding-top: 0.3rem
        & span
            display: block
    & .choose-club
        &__name, &__adress    
            font-size: 1rem
            font-family: "Roboto"
        &__adress
            padding-bottom: 1.6rem
            padding-top: 0.3rem

    &__form
        padding-top: 0.5rem
    &__button--radio
        position: absolute
        z-index: -1
        opacity: 0

    &__button--radio + label 
       // display: inline-flex
        align-items: center
        user-select: none
    
    &__button--radio + label::before 
        content: ''
        position: absolute
        display: inline-block
        width: 0.9em
        height: 0.9em
        flex-shrink: 0
        flex-grow: 0
        font-size: 1.357rem
        border: 1px solid #adb5bd
        border-radius: 0.25em
        left: -2.4rem
    
    &__button--radio:checked + label::before 
        content: "\2228"
        content: "\2713"
        position: absolute
        border: none
        background-color: $primary
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2)
        font-size: 1.5rem
        color: #1e1c34
        text-align: center
        line-height: 1.071rem
.last-row
    position: relative
    justify-content: space-between
    align-items: center
    height: 8.57rem
    border-top: 1px solid $grey-light
    &__social img
        margin-left: 4px
        
