
.service-record  //Самая верхняя строка экрана
    background: $title url('../img/first-page/record_bg.jpg') no-repeat center / cover
    color: $light
    display: flex
    justify-content: center
    align-items: center
    &__section-title
        color: $light
        &::before
            content: none
    
    
    
    
    
    
    
    
.service-middle
    position: relative

