.breadcrumbs
    font-family: 'Roboto-Light'
    font-weight: 300
    font-size: 13px
    line-height: 3.929rem
    color: $secondary
    border-bottom: 1px solid $gray
    &__image
        padding: 0px 3px
    & a
        color: $title
        font-family: 'Roboto-Medium'
        font-weight: 500

.schedule
    &__wrap
        display: flex
        margin-top: 2.61rem
    &__wrap-info
        margin-top: -0.3rem
    &__contacts-wrap
        display: flex
        margin-left: 5rem
        margin-top: 1rem
        & img
            width: 41px
            height: auto
    &--contacts
        padding-left: 1.9rem
    &__call
        margin: 1.7rem auto auto 5.45rem
    &__button
        padding: 1rem 2.15rem
    &__choose-club
        margin-left: -8px

.activite
    display: flex
    flex-wrap: wrap
    margin-top: 2.7rem
    justify-content: space-between
    &__card:first-child     
        margin-left: 0
    &__card:nth-child(7)     
        margin-right: 0
    &__card:nth-child(8)     
        margin-left: auto
    &__card:nth-child(10)     
        margin-right: auto
        

