//Общие стили
.swiper-container 
    width: 100%
    height: 100%
.swiper-slide 
    text-align: center
    font-size: 18px
    display: flex
    justify-content: center
    align-items: center


// Страница 1 - ГЛАВНЫЙ слайдер (секция Hero)
.slider-hero
    &__sale
        position: absolute
        top: 14.5%
        z-index: 10
        color: white
        transform: translateX(-55.9%)
        text-align: left
        &--psevdo
            position: relative
        &--psevdo::before   //Бордер
            content: ''
            position: absolute
            bottom: 0
            right: 2.5rem
            width: 16.5rem
            border-bottom: 2px solid $primary
    &__pagination
        transform: translateY(-3.2rem)
        //bottom: 4rem !important
    &__layer
        position: absolute
        right: 2.4%
        z-index: 15
    & .swiper-slide
        background-color: #501831

.slider-hero__pagination, .shelkovo-gallery__pagination
    & .swiper-pagination-bullet 
        background: $light
        width: 22px
        height: 4px
        border-radius: 0%
    & .swiper-pagination-bullet-active
        background: $primary

.shelkovo-gallery
    &__pagination
        transform: translateY(-2.9rem)
        padding-left: 7rem
    
.sale
    &__border-block
        position: relative
        height: 12.3rem
        width: 38rem
        border-top: 2px solid $primary
        &::before    //Бордер
            content: ''
            position: absolute
            left: 0
            top: 0
            height: 1.2rem
            border-left: 2px solid $primary
        &::after    //Бордер
            content: ''
            position: absolute
            top: 0
            right: 0
            height: 4.8rem
            border-left: 2px solid $primary
        & > div
            margin-left: -1rem
    &__text
        font-size: 24px
        line-height: 28px
        text-transform: uppercase
        font-family: "Roboto-Light"
        font-weight: 300
        padding-top: 2.5rem
        margin-left: -0.9rem
        & span
            display: block
            margin-top: 0.5rem
            font-family: "Roboto-Medium"
            font-size: 24px
            font-weight: 500 
    &__everyday
        padding-top: 3.2rem
        font-family: Roboto-Light
        font-size: 48px
        font-weight: 300
        line-height: 18px
        text-transform: uppercase
    &__club-cards
        padding-top: 3rem
        color: $primary
        font-family: Roboto-Light
        font-size: 72px
        line-height: 18px
        text-transform: uppercase
        width: 50rem
    &__pricetag
        font-size: 48px
        font-weight: 400
        line-height: 18px
        text-transform: uppercase
        margin-top: -0.7rem
        margin-left: -0.9rem



// Страница 1 - секция "Наши услуги"

.service-middle
    & .swiper-container
        width: 96.5%
    & .swiper-button-next, .swiper-button-prev
        margin-top: 0


.slider-service 
    &__next, &__prev
        width: 35px
        height: 35px
        background-color: $primary
        border-radius: 50%
        color: #1e1c34
        top: 9.6rem
        &::after
            font-size: calc(var(--swiper-navigation-size)/ 3) !important
    &__next
        right: 0
    &__prev
        left: 0
    &__content
        flex-direction: column
    &__title
        letter-spacing: -0.7px
        font-weight: 500
        margin-top: 1.3rem 
        margin-bottom: 0.27rem
    &__describe
        font-size: 1rem
        line-height: 1.29rem
        max-width: 94%

.slider-gallery
    &__next, &__prev
        width: 35px
        height: 35px
        background-color: $primary
        border-radius: 50%
        color: #1e1c34
        top: 51%
        &::after
            font-size: calc(var(--swiper-navigation-size)/ 3) !important
    &__next
        right: 10.2rem
    &__prev
        left: 10.2rem
    &__pagination
        transform: translateY(-1.8rem)
        & .swiper-pagination-bullet 
            background: #fff
            width: 22px
            height: 4px
            border-radius: 0%

        & .swiper-pagination-bullet-active 
            background: #ffd11a

        //bottom: 4rem !important
    
// Страница 1 - секция "Фотогалерея"

//Через блоки задаётся "рваный" бордер

//.sale__border-block 
 //   position:relative
//.sale__everyday, .sale__club-cards 
  //  position:absolute
   // top: 20px
   // bottom: 20px
   // width: 50px
   // border: 2px solid #DA9A2E
   // z-index: 99

//.sale__everyday 
   // left: 20px
  //  border-right-width: 0
  //  border-radius: 8px 0 0 8px

//.sale__club-cards 
 //   right: 20px
  //  border-left-width: 0
  //  border-radius: 0 8px 8px 0
