.top-header  //Самая верхняя строка экрана
    background: $title url('../img/first-page/top-header_bg.jpg') no-repeat center / cover
    height: 95px
    color: $light
    display: flex
    &__wrap
        display: flex
        justify-content: space-between
        align-items: center
    &__select
        position: relative
        margin-left: auto
        transform: translateX(2.6rem)
        & a:hover 
            background-color: #ddd
    &__record
        display: flex
        margin-left: auto
        margin-right: -3.1rem
        & span
            padding-left: 1rem
    &__contacts
        margin-right: 1.4rem
        margin-left: auto
        & span
            display: block
            font-size: 0.9rem
    &__ouvert
        border-radius: 20px 20px 0px 0px
        background-color: $primary
        z-index: 5
        & .button--secondary
                    color: $primary-text
    

.select  //Выбор клуба
    &__button 
        cursor: pointer
        font-weight: 400
        font-size: 0.87rem
        letter-spacing: 0
        padding-right: 2.3rem
    //    &::before
     //       content: 'prev'
    //        font-family: swiper-icons
     //       font-size: calc(var(--swiper-navigation-size)/ 2) !important
    &__dropdown-content 
        display: none
        position: absolute
        background-color: $primary
        min-width: 160px
        overflow: auto
        z-index: 37
        padding: 25px 0px 5px 30px
        border-radius: 0 7px 7px 7px
        width: 265px
        border: none
        top: 38px
    &__dropdown-content a
        position: relative
        display: block
        color: black
        padding: 12px 16px
        text-decoration: none
        box-sizing: border-box
        background: none
        padding: 0 0 20px 0px
        padding-bottom: 1.45rem
        cursor: pointer
        color: $primary-text
        & span
            display: block
    &__image
        width: 1rem    
        margin: 0 0.6rem
    &--toggle 
        display: block

