.top-header  //Самая верхняя строка экрана
    background: $title url('../img/first-page/top-header_bg.jpg') no-repeat center / cover
    height: 6.786rem
    color: $light
    display: flex
    &__wrap
        display: flex
        justify-content: space-between
        align-items: center
    &__call button
        font-size: 14px
    &__select
        position: relative
        margin-left: auto
        transform: translateX(2.6rem)
        & a:hover 
           // background-color: #ddd
    &__record
        display: flex
        margin-left: auto
        margin-right: -3.1rem
        & span
            padding-left: 1rem
            line-height: 1.3rem
        & img
            height: 2.3rem
    &__record:hover
        color: $primary
        cursor: pointer
    &__contacts
        margin-right: 1.4rem
        margin-left: auto
        & span
            display: block
            font-size: 0.9rem
    &__ouvert
        border-radius: 20px 20px 0px 0px
        background-color: $primary
        z-index: 5
        & .button--secondary
            color: $primary-text
.select  //Выбор клуба
    &__button 
        background: url('../img/icons/select_1.png') no-repeat left
        background-size: 1.286rem
        background-position-x: 1.857rem
        padding-left: 4.1rem
        padding-right: 2.5rem
        font-size: 0.93rem
        letter-spacing: -0.5px

    &__dropdown-content 
        display: none
        position: absolute
        background-color: $primary
        min-width: 11.429rem
        overflow: auto
        z-index: 37
        padding: 25px 0px 5px 2.143rem
        border-radius: 7px
        width: 18.929rem
        border: none
        top: 2.714rem
    &__dropdown-content a
        position: relative
        display: block
        color: black
        padding: 12px 16px
        text-decoration: none
        box-sizing: border-box
        background: none
        padding: 0 0 20px 0px
        padding-bottom: 1.45rem
        cursor: pointer
        color: $primary-text
        & span
            display: block
    &__image
        width: 1rem    
        margin: 0 0.6rem
    &--toggle 
        display: block
.top-header__ouvert
    & .select 
        &__button 
            background: url('../img/icons/select_2.png') no-repeat left
            background-size: 1.286rem
            background-position-x: 1.857rem
.for-seo
    display: none


//Мобильное меню
.mobile-menu
    &__wrap
        position: absolute
        top: 0
        z-index: 100
        opacity: 0
        visibility: hidden
        background-color: $primary-text
        color: $light
        width: 45%
        height: 100vh
        padding-left: 1rem
        padding-top: 4.5rem
    &__button
        position: absolute
        display: inline-block
        width: 3.25em
        height: 1.6em
        border-top: 0.2em solid $primary
        border-bottom: 0.2em solid $primary
        bottom: 1.3rem
        right: 10px
        cursor: pointer
        transition: .5s
        z-index: 999
        &--text
            position: absolute
            right: 5rem
            color: #ffd11a
            font-size: 1.4rem
            text-transform: none
    &__button:before 
        content: ''
        position: absolute
        top: 0.7rem
        left: 0 
        width: 100%
        border-top: 0.2em solid $primary
        z-index: 999
    &__nav
        position: relative
        font-family: Roboto-Light
        font-size: 14px
        font-weight: 400
        line-height: 1.286rem
        text-transform: uppercase
        color: #fff
        height: 4.714rem
        display: flex
        flex-direction: column
    &__item
        padding: 0.9rem 2rem
    &__close
        position: absolute
        background: url('../img/icons/close.png') no-repeat
        top: 1.5rem
        left: 87%
        width: 20px
        height: 20px
    &--visible 
        opacity: 1
        visibility: visible
