.top-header
    background: $title url('../img/first-page/top-header_bg.jpg') no-repeat center / cover
    height: 95px
    color: $light
    display: flex
    &__wrap
        display: flex
        justify-content: space-between
        align-items: center
