@font-face {
  font-family: 'Roboto-BoldItalic';
  src: url('Roboto-BoldItalic.woff') format('woff'),
       url('Roboto-BoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

